{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма Входа</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'settingurl/css/tables.css' %}">
</head>
<body>
<header class="header">
    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url 'managers' %}">Руководители</a></li>
            <li><a href="{% url 'tables' %}">Посмотреть таблицу</a></li>
            <li><a href="{% url 'reports' %}">Посмотреть отчеты</a></li>
            <li><a href="{% url 'treasonreport' %}">Редактировать отчёт</a></li>
        </ul>
                <div class="profile" style="position: relative;">
                    <img src="{% static 'settingurl/img/profile.png' %}" alt="Профиль" class="profile-icon" id="profile-icon" style="cursor: pointer;">
                    <div id="profile-menu" class="hidden">
                        <ul>
                            <li><a href="{% url 'personalmanage' %}">Личный кабинет</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post" style="margin: 0;">
                                    {% csrf_token %}
                                    <button type="submit">Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
    </nav>
</header>
<!-- Блок с фильтрами -->
<section class="filters">
    <div class="filter-item">
        <label for="city">Название Муниципального образования (город)</label>
        <select id="city">
            <option>Все</option>
        </select>
    </div>
    <div class="filter-item">
        <label for="organization">Общеобразовательная организация</label>
        <select id="organization">
            <option>Все</option>
        </select>
    </div>
    <div class="filter-item">
        <label for="leader">ФИО руководителя Школьного спортивного клуба</label>
        <select id="leader">
            <option>Все</option>
        </select>
    </div>
    <div class="filter-item">
        <label for="date">Дата</label>
        <select id="date">
            <option>Все</option>
        </select>
    </div>
    <div class="filter-item">
        <label for="edits">Правки</label>
        <select id="edits">
            <option>Все</option>
        </select>
    </div>
</section>
<button class="download-btn" id="downloadExcel">Скачать таблицу</button>
<div class="table-container">
    <!-- Контейнер для прокрутки -->
    <table class="styled-table">
        <!-- Заголовок таблицы -->
        <thead>
            <tr>
                <th>Руководитель</th>
                <th>Количество обучающихся</th>
                <th>Количество занимающихся</th>
                <th>1 класс</th>
                <th>2 класс</th>
                <th>3 класс</th>
                <th>4 класс</th>
                <th>5 класс</th>
                <th>6 класс</th>
                <th>7 класс</th>
                <th>8 класс</th>
                <th>9 класс</th>
                <th>10 класс</th>
                <th>11 класс</th>
            </tr>
        </thead>
        <tbody id="reportData">
            <!-- Данные таблицы будут добавлены с помощью JavaScript -->
        </tbody>
    </table>
</div>
<script src="{% static 'settingurl/js/tables.js' %}"></script>
</body>
</html>
