

<button class="teleg"><img src="{% static 'ui_library/img/telegramm.png' %}"></button>
<button class="teleg-black"><img src="{% static 'ui_library/img/telegramm-B.png' %}"></button>
<button class="ptichka"><img src="{% static 'ui_library/img/ptichka.png' %}"></button>
<button class="ptichka-black"><img src="{% static 'ui_library/img/ptichka-B.png' %}"></button>
<button class="pochta"><img src="{% static 'ui_library/img/pochta.png' %}"></button>
<button class="eye-close"><img src="{% static 'ui_library/img/eye-close.png' %}"></button>
<button class="eye"><img src="{% static 'ui_library/img/eye.png' %}"></button>
<button class="true"><img src="{% static 'ui_library/img/true.png' %}"></button>
<button class="false"><img src="{% static 'ui_library/img/false.png' %}"></button>
<button class="download"><img src="{% static 'ui_library/img/download.png' %}"></button>
<button class="cross"><img src="{% static 'ui_library/img/cross.png' %}"></button>